
body{
    background-color: var(--main-bg-color);
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
  }
  
  .container{
    width: min(100% - 8rem, 400px);
    margin-inline: auto;
    border: 1px solid var(--gray);
    padding: 1rem 2rem;
    margin-top:5rem;

    background-color: var(--white);
    border-color: var(--gray);
  }