:root {
    --main-bg-color: #efefef;
    --text-color: #2c3e50;
    --lightGray: #c3c3c3;
    --gray: #ececec;
    --white: #ffffff;

    --primary:#65C9FF;
    --primary-light:#f8f6ff;
    --alert: red;
    --success: green;
    //f9685d
  }
